[security-group]
SECURITY_GROUP_NAME=redshift-group
SECURITY_GROUP_DESCRIPTION=security group for redshift serverless

[role]
ROLE_NAME=redshift-s3-access-role

[warehouse]
WAREHOUSE_NAMESPACE=redshift-namespace
WAREHOUSE_WORKGROUP=redshift-workgroup
WAREHOUSE_BASE_CAPACITY=8
WAREHOUSE_MAX_CAPACITY=32
WAREHOUSE_ENHANCED_VPC_ROUTING=True
WAREHOUSE_PUBLIC_ACCESSIBLE=True
WAREHOUSE_USERNAME=chase
WAREHOUSE_DB=redshift-db
WAREHOUSE_PASSWORD=E1Z187NWQZuI3mpmu7ZJ
WAREHOUSE_PORT=5439
